.main {
	display: flex;
	justify-content: center;
	padding: 30px;
}
.parent {
	display: table;
	clear: both;
}

.child {
	float: left;
	height: 500px;
	width: 500px;
}

.imgcont {
	text-align: center;
	margin-top: 30px;
	padding: 45px;
	background-color: #eae9e9;
	float: left;
}

.logincont {
	background-color: white;
	padding: 1em;
	float: right;
	padding-top: 30px;
}

.inpfield {
	width: 330px;
	height: 25px;
}

.loginbtn {
	background-color: #1AA7EC;
	border-radius: 20px;
	width: 120px;
	height: 30px;
	color: white;
	border-style: none;
}

.signupbtn {
	background-color: #eae9e9;
	border-radius: 20px;
	width: 60px;
	height: 17px;
	color: black;
	font-size: 10px;
	border-style: none;
}

.centerlogbt {
	text-align: center;
}

.leftsignupbt {
	text-align: right;
}

.logo {
	width: 200px;
	height: 200px;
}